extends layout 


include mixins/crearProyecto

block contenido
    .contenido-principal 
        h2=nombrePagina

        if(errores)
            each error in errores 
              .alerta.error= error.msg
        
        +crearProyecto(proyecto)             