doctype html
html(lang="en")
    head
        include  Partials/header
    body.login 
        .contenedor-formulario
            h1= nombrePagina
            p Agrega tu Nuevo Password y restablecer Cuenta
            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes) 
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`) 
                                    p= error
            form.caja-login(method="POST") 
                .campo 
                    label(for="password") Password:
                    input( type = "password" name = "password" placeholder = "Tu Password" value= password  )
                .campo 
                    label(for="password") Password:
                    input( type = "password" name = "confirPassword" placeholder = "Confirma Tu Password" value= password  )

                .campo.enviar
                    input.boton( type="submit", value = "Restablecer Password")